:root {
    --yellow: #fbc300;
    --yellow-bold: #f59e0b;
    --yellow-weight: #ffd182;
    --yellow-show: #e6de80;
    --yellow-light: #f4f6ee;
}

.container-list {
    position: relative;
}

.withdraw-btn {
    display: block;
    position: absolute;
    top: calc(100% - 60px);
    left: 50%;
    transform: translatex(-50%);
    z-index: 2;
    padding: 14px 120px;
    background-color: var(--yellow);
    font-size: 1.8rem;
    color: white;
    border-radius: 55px;
    font-weight: 600;
    height: 20px;
    border: none;
}

.withdraw-btn:hover {
    color: var(--yellow);
    background-color: var(--yellow-light);
    cursor: pointer;
}
